.kc-highlight {
  background-color: rgba(255, 255, 0, 0.3);
  cursor: pointer;
  transition: background-color 0.2s;
}

.kc-highlight:hover {
  background-color: rgba(255, 255, 0, 0.5);
}

.kc-highlight-selected {
  background-color: rgba(255, 200, 0, 0.5);
}
